@using System.Text
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@* 
    For some reason, the first h1 element is focused on page load. To get around 
    this, we have a hidden element to take focus. Hacky, but it works!
*@
<h1 style="display: none">#Workaround</h1>
<header class="header-container">
    <div class="header-content">
        <h1>Allison & Owen</h1>
        <p>Februrary 19, 2022 | Braham, MN</p>
        <p>@DaysTillWeddingText()</p>
    </div>
</header>
    <div class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a class="@GetLinkClass("")" href="/">Home</a></li>
            <li class="nav-item"><a class="@GetLinkClass("wedding")" href="/wedding">Wedding</a></li>
            <li class="nav-item"><a class="@GetLinkClass("hotels")" href="/hotels">Hotels</a></li>
            <li class="nav-item"><a class="@GetLinkClass("rsvp")" href="/rsvp">RSVP</a></li>
        </ul>
    </div>
<div class="body-container">
    <div class="body-content">
        @Body
    </div>
</div>
<footer class="footer-container">
    <hr class="" />
    <h1>A & O</h1>
    <p>02.19.2022</p>
</footer>

@code {
    /// <summary>
    /// Gets the number of days until the wedding
    /// </summary>
    private static string DaysTillWeddingText()
    {
        string daysTillWeddingText = "The wedding already happened... Why are you here?";
        DateTime weddingDate = new(2022, 2, 19);
        if (DateTime.Today < weddingDate)
        {
            daysTillWeddingText = $"{(weddingDate - DateTime.Today).Days} days until the wedding!";
        }
        else if (DateTime.Today == weddingDate)
        {
            daysTillWeddingText = "Today is the wedding!";
        }

        return daysTillWeddingText;
    }

    /// <summary>
    /// Get the class for a link based on the link.
    /// </summary>
    public string GetLinkClass(string link)
    {
        StringBuilder classBuilder = new();
        classBuilder.Append("nav-link");
        string relativeUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        classBuilder.Append(relativeUrl.Equals(link) ? " active-link" : string.Empty);
        return classBuilder.ToString();
    }
}