@inherits LayoutComponentBase

<div class="mt-2">
    <header>
        <div class="text-center">
            <h1>Allison & Owen</h1>
            <p>Februrary 19, 2022 | Braham, MN</p>
            <h6>@DaysTillWedding days until the wedding!</h6>
        </div>
        <div>
            <ul class="navigation-list">
                <li><a class="@GetLinkClass("")" href="/">Home</a></li>
                <li><a class="@GetLinkClass("wedding")" href="/wedding">Wedding</a></li>
                <li><a class="@GetLinkClass("hotels")" href="/hotels">Hotels</a></li>
                <li><a class="@GetLinkClass("photos")" href="/photos">Photos</a></li>
                <li><a class="@GetLinkClass("rsvp")" href="/rsvp">RSVP</a></li>
            </ul>
        </div>
    </header>
    <div class="d-flex justify-content-center">
        @Body
    </div>
    <footer class="text-center">
        <hr class="col-md-6" />
        <h1>A & O</h1>
    </footer>
</div>